@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme inline {
  /* choclate */
  /* --color-primary: #8d7b68;
  --color-secondary: #a4907c;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #F4F4F4; */

  /* dark */
  --color-primary: #006d77;
  /* --color-secondary: #378291;4299AB,327A89 */
  --color-secondary: #378291;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #F4F4F4;

  --font-1: "Poppins", sans-serif;
}

body {
  font-family: var(--font-1);
}

/* ================= CUSTOM SCROLLBAR ================= */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      var(--color-secondary),
      var(--color-primary));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) var(--color-grey);
}

/* Scrollbar only for table */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-grey);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

/* Model Overlay fade */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Modal scale animation */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(16px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  to {
    opacity: 0;
    transform: scale(0.95) translateY(16px);
  }
}

/* Utility classes */
.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

.scale-in {
  animation: scaleIn 0.5s ease forwards;
}

.scale-out {
  animation: scaleOut 0.5s ease forwards;
}